@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300,400,500;600;700;800;900&display=swap');

*{
    overflow-x: clip;
    white-space: nowrap;
  }

  .header{
      background:linear-gradient(to right,rgba(130, 153, 45, 0.974), rgba(125, 125, 66, 0.917), rgba(40, 73, 40, 0.917));
      position: fixed;
      width: 100%;
      z-index: 200;    
  }

  h1{
    color:rgb(240, 242, 234);
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  .btn-gold {
      background-color: rgb(214, 102, 32);
      -webkit-clip-path: polygon(0 0,calc(100% - 1rem) 0,100% 50%,calc(100% - 1rem) 100%,0 100%);
      clip-path: polygon(0 0,calc(100% - 1rem) 0,100% 50%,calc(100% - 1rem) 100%,0 100%);
      color: #111;
      cursor: pointer;
      font-size: .9rem;
      font-weight: 700;
      padding: 1rem 3.25rem 1rem 2rem;
      position: relative;
      text-transform: uppercase;
      transition: .25s;
      z-index: 1;
      height: fit-content;
  }

  .btn-gold:hover{
      background-color: rgb(126, 94, 15);
  }


  input[name=search_input] {
      background-color: rgba(13, 57, 5, 0);
      border: none;
      border-bottom: 1px solid #fff;
      box-shadow: none;
      color: #fff;
      margin: 0;
      max-width: 20rem;
      padding: .5rem;
      width: 100%;
  }

  button[name=search]{
      background-color: rgba(13, 57, 5, 0);
      border: none;
  }
   .search {
      align-items: center;
      display: flex;
      justify-content: center;
  }

  .footer{
    background:linear-gradient(to right,rgba(130, 153, 45, 0.974), rgba(125, 125, 66, 0.917), rgba(40, 73, 40, 0.917));
      width: 100%;
      position: relative;
      margin-top: 10%;
      z-index: -100; /* make footer appear below navbar */
   }


   #catagories{
    justify-content: center;
    text-align: center ;
    height: 100vh;
    width: 100%;
    background-size:auto;
    background-repeat:no-repeat;
    background-position: bottom 10%;
    text-align: left;
    padding-top: 12%;  
   
}

.finan{
    background-image: url("../images/army.jpeg");
    background-size:cover;
    background-repeat:no-repeat;

}

#catagories h3{
    justify-content:left;
    text-align: left;
    padding-top: 12%;  
    padding-top: 2%;
    font-size: 25px;
    font-weight: 700;
    color: #fff; 
}
#catagories li{
    padding-top:50px 80px;
    list-style: none;
    padding: 0 20px;
    position:relative;
}
#catagories li a {
    text-decoration:none;
    font-size: 22px;
    font-weight: 600;
    color: #101110; ;
    transition: 0.3 ease;
}
#catagories1{
    justify-content: center;
    text-align: center ;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    justify-content:center;
    text-align: center;
    padding-top: 2%;  
   
}

#catagories1 li{
    padding-top:50px 80px;
    list-style: none;
    padding: 0 20px;
    position:relative;
}
#catagories1 li a {
    text-decoration:none;
    font-size: 22px;
    font-weight: 600;
    color: #101110; 
    transition: 0.3 ease;
}

 .tab{
    position:relative ;
    background:#fff ;
    padding: 0 20px 20px;
    box-shadow:0 15px 25px rgba(0,0,0,05);
    border-radius: 5px;
    overflow: hidden;

    }
 .tab input
 {
     appearance:none ;
 }   
  .tab label{
     display: flex;
     align-items: center;
     cursor:pointer;
 
 }
 .tab label::after
 {
     content: '+';
     position:absolute;
     right:20px;
     font-size:2em;
     color:rgba(0,0,0,1) ;
     transition: transfrom 1s;
 }
  .tab:hover label::after{
     color: #333;
 
 }
 .tab input:checked ~ label::after{
     transform: rotate(135deg);
 }
  .tab .content{
     max-height: 0;
     position: relative;
     background: #8a8696;
     transition: 1s;
     overflow: hidden;
 }
 
 .tab input:checked ~ .content{
     max-height:100vh;
 }
 .tab .content p{
     position: relative;
     padding:10px 0;
     color:#333;
     z-index: 10;
 }
 #catagories2{
     justify-content: center;
     text-align: center ;
     height: 100vh;
     width: 100%;
     background-size: cover;
     background-position: top 25% right 0;
     justify-content:center;
     text-align: center;
     padding-top: 3%;  
    
 }
 
 #catagories2 li{
     padding-top:50px 80px;
     list-style: none;
     padding: 0 20px;
     position:relative;
 }
 #catagories2 li a {
     text-decoration:none;
     font-size: 22px;
     font-weight: 600;
     color: #101110; ;
     transition: 0.3 ease;}
     #catagories3{
         justify-content: center;
         text-align: center ;
         height: 100vh;
         width: 100%;
         background-size: cover;
         background-position: top 25% right 0;
         justify-content:center;
         text-align: center;
         padding-top: 3%;  
        
     }

     li,p{
        font-family: 'Spartan';
        font-size: medium;
        color: rgb(0, 0, 0);
     }
